{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password - Library Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <img class="logo" src="{% static 'images/Library_logo.png' %}" alt="Logo">
    <h3 id="Head3">Change Password</h3>

    <form method="post" id="change-password-form">
        <label for="oldPass">Old Password</label>
        <div class="password-wrapper">
            <input id="oldPass" type="password" name="old_pass" required>
            <i class="fa-solid fa-eye toggle-eye" id="eyeOld" onclick="togglePassword('oldPass', 'eyeOld')"></i>
        </div>

        <label for="newPass">New Password</label>
        <div class="password-wrapper">
            <input id="newPass" type="password" name="new_pass" required>
            <i class="fa-solid fa-eye toggle-eye" id="eyeNew" onclick="togglePassword('newPass', 'eyeNew')"></i>
        </div>

        <label for="confirmPass">New Password (again)</label>
        <div class="password-wrapper">
            <input id="confirmPass" type="password" name="confirm_Pass" required>
            <i class="fa-solid fa-eye toggle-eye" id="eyeConfirm" onclick="togglePassword('confirmPass', 'eyeConfirm')"></i>
        </div>

        <input type="submit" value="Change Password">
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}
